@font-face{
	font-family: "RalewaySB";
	src: url("Raleway-SemiBold.ttf");
}

body{
	background-image: url("../img/dark_lake.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;	
	padding-left: 0!important;
	padding-right: 0!important;
	padding-top: 100px;
/*    display: -webkit-flex;
    display: flex;
    margin-left: 0px;*/
}

#header{
    width: 100%;
    height: 85px;
    position: fixed;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #e2c2f4;
    padding-left: 10px;
    top: 0px;
    padding-top: 15px;
    z-index: 1;
    margin-top: 0;
    font-size: 2.6em;
	color: #e2c2f4;
	text-decoration: underline;
	text-shadow: 1px 2px 3px black, -1px 2px 3px black;
	box-shadow: black 0px 2px 3px, black 0px -2px 3px;
	font-family: "RalewaySB";
}

ol, #submission{
	backdrop-filter: blur(10px);
	border-radius: 0px;
	border-top: 1px solid #e2c2f4;
	border-bottom: 1px solid #e2c2f4;
	/*padding: inherit;*/
	color: white;
	font-family: "RalewaySB";
	font-size: 1em;
	text-shadow: 1px 2px 3px black, -1px 2px 3px black;
	box-shadow: black 0px 2px 3px, black 0px -2px 3px;
	text-align: center;
	padding-right: 35px;
	padding-top:10px;
	padding-bottom: 10px;
	width: 100%;
}

p{
	font-size: 1em;
	font-family: "RalewaySB";
	color: #e2c2f4;
	text-shadow: 1px 2px 3px black, -1px 2px 3px black;
	margin-left: 20px;
	margin-bottom: 0;
	padding-left: 10px;
}

ol{
	text-align: left;
}

b{
	font-size: 2em;
	text-decoration: underline;
	color: #e2c2f4;

}

ol b{
	font-size: 1em;
}

#logo{
	position: fixed;
	top: 5px;
	right: 10px;
	margin-top: 0;
	z-index: 2;
	width: 75px;
}

a{
	color: #a2d2f4;
}

#name{
	/*font-size: 0.3em;*/
	font-family: "RalewaySB";
	text-decoration: underline;
	text-shadow: 1px 2px 3px black, -1px 2px 3px black;
	color: #e2c2f4;
	position: fixed;
	top: 50px;
	left: 10px;
	z-index: 2;
}

/*.col {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    text-align: center;
    /*font-family: Roboto;*/
    /*text-shadow: none;*/
}*/