@font-face{
	font-family: "RalewaySB";
	src: url("Raleway-SemiBold.ttf");
}

body{
	background-color: grey;
}

#header{
	width: 100%;
    height: 85px;
    /*position: absolute;*/
    /*backdrop-filter: blur(10px);*/
    padding-left: 10px;
    top: 0px;
    padding-top: 15px;
    z-index: 1;
    margin-top: 0;
    font-size: 2.6em;
	color: white;
	text-decoration: underline;
	font-family: "RalewaySB";
	background-color: teal;
}


.img-container{
	padding: 10px;
	text-align: center;
}